body{
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#container{
	width: 300px;
	background-color: gray;
	margin: 100px auto ;
	color: #f7f7f7;

}
h1{
	font-weight: normal;
	background-color: gray;
	font-size: 24px;
	margin: 0;
    background-color:  #2980b9;

}
input{
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	color: black;
	line-height: 30px;
	/*width: 100%;*/

}
.line{
	text-decoration: line-through;
	/*color: white;*/
}
li:nth-child(even){
 background-color:white;
}
.fa-plus{
	float: right;
	font-weight: normal;
}
span{
	/*background-color: #e74c3c;*/
	color:#e74c3c;
	/*text-align: center;*/
     /*width: 0%;*/
     display: none;
}
li:hover span{
	/*display: block;*/
	display: inline-block;
}
input:focus{
	background-color: #fff;
	border: 1px solid red;
	outline: none;

}